@font-face
{ 
    font-family: SunnyCloudy-One;src:url(SunnyCloudy-One.ttf);
}  
  
body
{
    color:black;
    background-color: whitesmoke;
    margin-top: 5%;
    margin-right: 1%;
    margin-bottom: 10%;
    margin-left: 1%;
    font-family:'SunnyCloudy-One', sans-serif;
}
header
{
    color: purple;
    font-size: 4.5rem;
    margin-top: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: auto;
}
h1
{
    color: lavender;
    font-size: 2.5rem ;

}
section 
{
    color:lavenderblush;
    font-size: 2rem ;  
}
table
{
    border-color:red;
    color:black;
    background-color: lightpink;
}
ol
{
    color: plum;
    font-size: 1rem;
    margin-left: 2%;
}

li
{
    color:lightskyblue;
    font-size: 0.75rem;
    margin-left: 8.5%;
}

#normal p:first-letter
{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    line-height: 0.7rem;
    float: left;
    margin: 0.1rem;
    color:purple;
}
.fondo
{
    background-image: image(".png");
}
.ejemplo
{
    color:black;
    background-color: cornsilk;
    font-size: 1.15rem;
}

section
{
    color:black;
    font-size: 1.35rem;
}
p
{
    color:black;
    margin-left: 1%;
}
a
{
    color:purple;
    margin:1rem;
}
footer
{
    color:lavenderblush;
    font-size:0.75rem;
    margin: 1.2rem;
}